
{% extends 'base.html.twig' %}

{% block title %}Modifier un Cours{% endblock %}

{% block body %}
    <h1>Modifier le Cours</h1>

    {{ form_start(form) }}
        {{ form_row(form.module) }}
        {{ form_row(form.professeur) }}
        {{ form_row(form.classes) }}
        <button type="submit">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('app_cours_index') }}">Retour à la liste des cours</a>
{% endblock %}
